.wishlist-page {
    display: flex;
    /* width: 70%; */
    justify-content: center;
}

.sizing {
    width: 75vw;
    display: flex;
}

.list-list {
    /* padding: 10px 20px; */
    max-width: 250px;
    min-width: 150px;
    margin-right: 10px;
}

.list-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.wishlist {
    padding: 5px 0;
    cursor: pointer;
    color: teal;
}

.wishlist:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    flex-direction: column;
    padding: 20px 50px;
    border-left: 1px solid gray;
    padding-right: 0;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    height: fit-content;
}

.wishlist-form {
    width: 400px;
}

.wishlist-header h1 {
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, serif;
    /* font-weight: bold; */
}

.create-wish-modal {
    border-top: 1px solid silver;
    margin-top: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.wishlist-section {
    padding: 30px;
    overflow: auto;
    max-height: 90vh;
}

.form-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.product-preview {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
}

.product-preview img {
    width: 75px;
    margin-top: 0;
    margin-right: 20px;
}

.product-preview .title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.product-preview .title:hover {
    text-decoration: none;
}

.product-preview .price {
    /* font-family: 'Lato', sans-serif; */
    font-size: 12px;
}

.wishlist-holder {
    border: 1px solid silver;
    padding: 10px;
    /* width: fit-content; */
    margin-top: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* .wishlist-holder p {
    width: 90%;
} */

.wishlist-dropdown {
    border: 1px solid silver;
    max-height: 100px;
    overflow-y: auto;
}

.wishlist-dropdown p {
    padding: 8px 0;
    padding-left: 10px;
    border-left: 2px solid transparent;
    cursor: pointer;
}

.wishlist-dropdown p:hover {
    border-left: 2px solid silver;
}

.wishlist-form .errors {
    color: red;
    list-style: none;
    border: 2px solid red;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
}

.wishlist-form input {
    display: block;
    height: 40px;
    width: inherit;
    padding-inline: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid gray;
}

.wishlist-form input:hover,
.wishlist-form textarea:hover 
{
    border: 2px solid teal;
}

.label {
    /* margin-bottom: 10px; */
}

.wishlist-form textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 100px;
    padding-inline: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid gray;
    font: inherit;
}

.two-buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.button {
    padding: 0;
    width: 50%;
    height: 40px;
    /* margin-bottom: 15px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color:teal;
    color: white;
    border: none;
    text-decoration: none;
    /*  */
    margin: 0;
}

.cancel-button {
    color: teal;
}

.cancel-button:hover {
    text-decoration: underline;
}

.delete-section {
    text-align: center;
}