a {
    text-decoration: inherit;
    color: inherit;
    width: fit-content;
}

h2, p {
    font-family: inherit;
}

h1 {
    font-size: 23px;
}

p {
    font-size: 13px;
}

h2, .price {
    font-size: 17px;
}

button {
    border: none;
}

img {
    width: 150px;
    /* margin: 20px 0; */
    margin-top: 20px;
    border: 1px solid black;
}

.cat-page-item {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    /* margin: 10px 0; */
    width: 100%;
    /* align-items: center; */
    padding: 25px 0 50px;
    border-bottom: 1px solid silver;
}

.img-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

.fa-heart {
    font-size: 14px;
    border: 1px solid black;
    padding: 4.5px 4px;
    border-radius: 20px;
    /* cursor: not-allowed; */
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.7);
}

.fa-heart:hover {
    font-weight: bold;
}

.cat-page-item .fa-heart {
    position: absolute;
    top: 25px;
    right: 5px;

}

.cat-page-item:last-child {
    border-bottom: none;
}

.item-left {
    width: inherit;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.item-left button {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 9px 40px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid cornflowerblue;
}

/* .cart-button {
    border: 1px solid black;
} */

.item-left .added-book {
    background-color: white;
    color: cornflowerblue;
}