.item-info {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* min-height: 50%; */
    /* box-sizing: border-box; */
    width: 100%;
    /* padding-left: 20px; */
}

h2, p {
    padding: 4px 0;
}

h2 {
    width: fit-content;
}

.bottom-info {
    /* border: 1px solid red; */
    /* padding-top: 20px; */
    /* padding-bottom: 10px; */
    display: flex;
}

.info-block {
    width: 100%;
}

.line {
    border-bottom: 1px solid silver;
    margin: 5px 0;
    width: 100%;
}

.title:hover {
    text-decoration: underline;
}

.stars {
    font-size: 12px;
}

.format {
    color: teal;
}

.seller {
    color: teal;
}

.price {
    font-weight: bold;
}

.fa-check {
    color: teal;
}

/* .cart-button button {
    margin: 0;
    margin-top: 20px;
} */

.fa-star {
    margin-right: 2px;
}