div {
    border: 1px solid red;
}

.cart-page {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    flex-direction: column;
}

.cart-body {
    /* border: 1px solid red; */
    width: 75%;
    display: flex;
}

.cart-content {
    width: 100%;
}

.cart-side-bar {
    width: 30%;
}