.cat-body {
    display: flex;
    justify-content: center;
}


/* .cat-sidebar {
    border: 1px solid black;
    min-width: 20%;
} */

.cat-content {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75%;
    padding: 2% 0;
}

.cat-header {
    margin: 0 auto;
    width: fit-content;
    text-transform: capitalize;
}