/* .top-slider {
    background-color: cadetblue;
    height: 30px;
    height: 40px;
} */

.nav {
    width: 75%;
    margin: 0 auto;
}

.mid-nav-bar {
    display: flex;
    justify-content: right;
    /* margin: 15px 60px; */
    /* margin: 0 12.5%; */
    margin: 15px 0;
}

.logo {
    text-transform: uppercase;
    font-size: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo div {
    /* color: teal; */
}

.logo h1 {
    font-weight: bolder;
    letter-spacing: 3px;
    color: teal;
    font-family: 'Lato', sans-serif;
}

.logo span {
    color: olive;
    font-family: Georgia, serif;
    font-weight: lighter;
}

.acc-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.acc-block:hover .profile-dropdown {
    display: flex;
}

.account-bar {
    display: flex;
    align-items: center;
    width: fit-content;
    height: min-content;
    padding-bottom: 5px;
}


.profile-dropdown {
    /* width: 200px; */
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: 20px;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    z-index: 1;
}

button {
    /* display: block;
    width: 100px; */
    margin: 5px;
}

.dropdown-signin-button {
    background-color:teal;
    color: white;
    border: none;
    padding: 8px 55px;
    width: max-content;
}

#my-acc {
    margin: 0;
    padding: 0 8px;
}

.signup-button {
    background: none;
    border: none;
    width: max-content;
    color: teal;
    text-decoration: underline;
}

.demo-user {
    background-color: white;
    color: teal;
    border: 1px solid teal;
    padding: 6px 39px;
    width: max-content;
}

/* .signup-button:hover {
    text-decoration: underline;
} */

.cat-nav-bar {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    /* justify-content: space-around; */
    /* width: 75%; */
    /* padding: 10px 0; */
    /* temp for testing */
    /* border: 1px solid red; */
}

.cat-nav-bar a {
    text-decoration: none;
    margin: 10px 0 7px;
    font-family: Georgia, serif;
    border-bottom: 3px solid white;
    border-right: 1px solid olive;
    padding: 0 20px;
}

.cat-nav-bar a:last-child {
    border-right: none;
    padding-right: none;
}

.cat-nav-bar a:hover {
    box-sizing: border-box;
    border-bottom: 3px solid lightgray;
}

.shopping-cart-link {
    position: relative;
    /* font-size: 25px; */
}

.circle {
    background-color: teal;
    padding: 2.5px 5px;
    border-radius: 10px;
    position: absolute;
    top: -8px;
    right: -8px;
    color: white;
}