.top-slider {
    background-color: cadetblue;
    height: 30px;
    /* width: 100vw; */
    height: 40px;
}

.mid-nav-bar {
    display: flex;
    justify-content: right;
    margin: 15px 60px;
}

.acc-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.acc-block:hover .profile-dropdown {
    display: flex;
}

.account-bar {
    display: flex;
    align-items: center;
    width: fit-content;
    height: min-content;
    padding-bottom: 5px;
}


.profile-dropdown {
    /* width: 200px; */
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: 20px;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    z-index: 1;
}

button {
    /* display: block;
    width: 100px; */
    margin: 5px;
}

.dropdown-signin-button {
    background-color:teal;
    color: white;
    border: none;
    padding: 8px 55px;
    width: max-content;
}

#my-acc {
    margin: 0;
    padding: 0 8px;
}

.signup-button {
    background: none;
    border: none;
    width: max-content;
    color: teal;
    text-decoration: underline;
}

.demo-user {
    background-color: white;
    color: teal;
    border: 1px solid teal;
    padding: 6px 39px;
    width: max-content;
}

/* .signup-button:hover {
    text-decoration: underline;
} */

.cat-nav-bar {
    display: flex;
    /* width: 100vw; */
    justify-content: space-around;
    /* padding: 10px 0; */
    /* temp for testing */
    border: 1px solid red;
}

.cat-nav-bar a {
    text-decoration: none;
    padding: 10px 15px 7px;
    font-family: Georgia, serif;
    border-bottom: 3px solid white;
}

.cat-nav-bar a:hover {
    box-sizing: border-box;
    border-bottom: 3px solid lightgray;
}